
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="text-align:center">Remove Products</h1>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name:</label>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Code:</label>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Meta Tile:</label>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Descriptions:</label>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Images:</label>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">More Images:</label>
    </div><div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Price:</label>
    </div><div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Promotion Price:</label>
    </div><div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Included VAT:</label>
    </div><div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Quantity:</label>
    </div><div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Category ID:</label>
    </div><div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Detail:</label>
    </div><div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Warranty:</label>
    </div><div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Metail Keywords:</label>
    </div><div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Meta Descriptions:</label>
    </div><div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Status:</label>
    </div>

    <button type="submit" class="btn btn-primary">Remove</button>
</form>

