
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_BanDoDienTuLayout.cshtml";
}

<br />
<p style="text-align :center">Chưa có sản phẩm nào</p>
<div style="align-content:center" class="checkout_btn">
    <a asp-controller="Product" asp-action="Index">Tiếp tục mua sắm</a>
</div>
<br />

